@font-face {
    font-family: 'Akira' ;
    font-weight: 300;
    src: url("../fonts/akira/akira.otf");
    font-display: swap;
}

@font-face {
    font-family: 'Kenyan Coffee' ;
    font-weight: 300;
    src: url("../fonts/kenyan-coffee/kenyan-coffee.otf");
    font-display: swap;
}
